.hero-section {
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* background: #E7E5E3; */
}

.hero-section img {
    width: 600px;
}

.hero-text p {
    padding: 0 110px;
}

h1 {
    font-size: 60px;
    color: tomato;
}

.hero-section h3 {
    font-size: 30px;
}

.primary-btn {
    background-color: tomato;
    font-size: 24px;
    border: 0;
    padding: 10px 20px;
    border-radius: 8px;
    color: #ffffff;
}

.primary-btn:hover {
    cursor: pointer
}

.customer-review {
    text-align: center;
}

.few-reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.secondary-review-title {
    background: tomato;
    padding: 10px 0;
    margin: 0;
    margin-bottom: 30px;
}

.secondary-btn {
    margin-top: 30px;
    margin-bottom: 30px;
}